<html>
	<head>
		<title>Melanie M Zwegers - About</title>
		<% resolver src="layouts/header.html" %>
	</head>
	<body>
		<% resolver src="layouts/menu.html" %>
		
		<div class="content">
			<table class="split-content" style="width: 1000px; text-align: center;">
				<tr>
					<td>
						<img src="./images/Author.png" />
					</td>
					<td>
						<p style="margin-top: 100px;">
							Melanie M Zwegers is a writer and illustrator of children's poetry.
						</p>
						<p>
							She is a native of Ann Arbor, Michigan and graduated with honors and two degrees from the University of Michigan.
						</p>
						<p>
							She now lives and works in Northville, Michigan with the support and encouragement of her wonderful husband, family, and friends.
						</p>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>