<html>
	<head>
		<title>Melanie M Zwegers - Book</title>
		<% injector src="layouts/header.html" %>
	</head>
	<body>
		<% injector src="layouts/menu.html" %>
		
		<div class="content">
			<table class="split-content" style="text-align: center; width: 1000px;">
				<tr>
					<td>
						<img class="image-border" src="./images/Book.jpg" />
					</td>
					<td>
						<h1>INTO THE GARDEN</h1>
						<h3><i>Verses for Hearts Young & Old</i></h3>
						<p>
							<i>Into The Garden</i> is a collection of 34 original poems and illustrations by Melanie M Zwegers, inspired by childhood, nature, and the garden of verses that started it all: <i>A Child's Garden of Verses</i> by Robert Louis Stevenson.
						</p>
						<p>
							Discover hidden fairy doors, fireflies at twilight, adventures on high seas, and the delights of the changing seasons inside this heartfelt collection.
						</p>
						<p>
							<i>Into the Garden</i> is a book for all ages, to be enjoyed by children, parents, and grandparents alike. Enter into a place of wonder, beauty, and playful imagination, and rekindle the joys and pleasures of youth!
						</p>
						<br />
						<p>
							Coming Spring 2015
						</p>
						<p>
							<i>$17.95</i>
						</p>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>