<html>
	<head>
		<title>Melanie M Zwegers - Contact</title>
		<% injector src="layouts/header.html" %>
	</head>
	<body>
		<% injector src="layouts/menu.html" %>
		
		<div class="content">
			<table class="split-content">
				<tr>
					<td style="text-align: right;">
						<img src="./images/Contact.jpg" />
					</td>
					<td>
						<h2>Contact Melanie M Zwegers</h2>
						<p>
							Please contact Melanie by sending an email to <a href="mailto:melanie@test.com">melanie@test.com</a>.
						</p>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>