<html>
	<head>
		<title>Melanie M Zwegers - Contact</title>
		<% injector src="layouts/header.html" %>
	</head>
	<body>
		<% injector src="layouts/menu.html" %>
		
		<div class="content">
			<table class="split-content">
				<tr>
					<td style="text-align: right;">
						<img src="./images/Contact.jpg" />
					</td>
					<td>
						<h2>Contact Melanie M Zwegers</h2>
						<p>
							For questions, comments, and other inquiries, contact
						</p>
						<p>
							<b>Melanie M Zwegers</b><br />
							<a href="mailto:zwegersmel@gmail.com">zwegersmel@gmail.com</a>
						</p>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>